<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="main.css">
    <!-- Add this script to main.html -->
	<script>
    	document.getElementById('logoutBtn').addEventListener('click', function() {
        	window.location.href = 'index.html';
    	});
	</script>
    
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">
            <h1>Mahindra Showroom</h1>
        </div>
        <ul class="navbar-links">
            <li><a href="/">Home</a></li>
            <li><a href="/view-all-cars">View All Cars</a></li>
            <li><a href="/book-test-drive">Book Your Test Drive</a></li>
             <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="hero">
        <div class="info">
            <h1>Welcome to Mahindra Showroom</h1>
            <p>Explore our range of vehicles and book your test drive today!</p>
            <button onclick="window.location.href='/view-all-cars'">View All Cars</button>
            <button onclick="window.location.href='/book-test-drive'">Book Your Test Drive</button>
           

           
        </div>
    </div>
</body>
</html>
